#main-front {
    margin: 0;
}

#big-banner {
    width: 100%; height: 512px;
    position: relative;
    background-color: #2A2A2A;
    overflow: hidden;
}

#big-banner h3, #big-banner p {
    margin: 0;
}

#big-banner h3 {
    font-family: 'Oswald', 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: normal;
}

#banner-bg, #banner-bg-alt {
    width: 110%; height: 110%;
    position: absolute; margin: -4px;
    top: 0; left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

#banner-bg > video {
    width: 100%; height: 100%;
    object-fit: cover;
}

#banner-bg-alt {
    background-image: url(../../img/frontpage/2019banner.jpg);
}

#banner-caption {
    width: 560px;
    padding: 24px;
    position: absolute; display: block;
    top: 36%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

#banner-link {
    padding: 12px 24px;
    position: absolute; display: block;
    top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0 2px 16px -2px #000000
}

#banner-link:hover {
    color: #FFFFFF;
}

#front-sep {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    box-shadow: inset 0 0 18px -2px #666666;
}

#year-count {
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

#year-count:before, #year-count::before, #year-count:after, #year-count::after {
    content: "";
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 0.65em;
    border-bottom: 1px solid #ccc;
    margin: 0 2% 0 -55%;
}

#year-count:after, #year-count::after {
    margin: 0 -55% 0 2%;
}

.lp-elem {
    height: 100vh;
    font-size: 0;
}

.lp-elem > div {
    width: 50%; height: 100%;
    display: inline-block; position: relative;
    font-size: initial;
    vertical-align: bottom;
}

.lp-right-img > div, .lp-left-img > div {
    width: 100%; height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -25vw;
    box-shadow: inset 0 0 12px 2px #111111;
}

@media (max-width: 768px) {
    
    .lp-elem { height: 100vh; }
    
    .lp-elem > div { height: 50%; }
    
    .lp-right-img > div, .lp-left-img > div {
        width: 100%; height: 100%;
        background-attachment: scroll;
        background-size: cover;
        background-position: center !important;
        box-shadow: none;
    }
    
}

@media (min-width: 769px) {

    div.lp-left-text:after, div.lp-left-text::after, div.lp-right-text:after, div.lp-right-text::after {
        width: 0; height: 0;
        display: block; position: absolute;
        top: 0;
        content: '';
        z-index: 1;
    }   

    div.lp-left-text:after, div.lp-left-text::after {
        right: -127px;
        border-top: 100vh solid; border-right: 128px solid transparent;
        border-top-color: inherit;
    }

    div.lp-right-text:after, div.lp-right-text::after {
        left: -127px;
        border-bottom: 100vh solid; border-left: 128px solid transparent;
        border-bottom-color: inherit;
    }
    
}

.lp-right-img > div {
    background-position-x: 33vw;
}

.lp-text-container {
    margin-left: 5.5vw; margin-right: 5.5vw;
}

.lp-header {
    margin: 0; padding: 0;
    margin-bottom: 18px;
    font-family: 'Oswald', 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #FFFFFF;
    transition: color 0.8s;
}

.lp-link-hl {
    width: 36px; height: 36px;
    margin-left: -36px;
    opacity: 0;
    transition: opacity 0.8s, margin-left 0.8s;
}

.lp-header:hover {
    color: rgba(255, 255, 255, 0.8);
}

.lp-header:hover > .lp-link-hl {
    margin-left: 0;
    opacity: 1;
}

.lp-text-container > p {
    font-size: 18px;
}

#triple-circle-header > h3 {
    margin-top: 36px; margin-bottom: 48px;
    font-family: 'Oswald', 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}

#triple-circle {
    margin-top: 40px; margin-bottom: 96px;
}

.circle-elem h3 {
    margin: 16px 0; padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.circle-elem p {
    margin: 0; padding: 0;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    color: initial;
}

.circle-elem p:hover {
    color: initial;
}

.circle-elem i {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    font-size: 24px;
}

.circle-elem img {
    width: 216px; height: 216px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    
    #triple-circle-header > h3 {
        margin-top: 48px; margin-bottom: -26px;
    }
    
}

#top-extra-bar {
    width: 100%;
    position: fixed; display: flex;
    top: 0; left: 0;
    padding: 12px;
    transform: translateY(-100%);
    transition: transform 1.2s;
    flex-direction: row;
    justify-content: space-between;
    z-index: 40000;
}

#match-schedule-box-shade {
    width: 100vw; height: 100vh;
    position: fixed; display: none;
    top: 0; left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
    z-index: 50000;
}

#match-schedule-box-shade.visible {
    opacity: 0.6;
    pointer-events: initial;
}

#match-schedule {
    width: 75%; height: 75%;
    position: fixed;
    top: 12.5%; left: 12.5%;
    transform: translateY(-100vh);
    transition: transform 0.4s;
    text-align: center;
    pointer-events: none;
    z-index: 50005;
}

#match-schedule.visible {
    transform: none;
}

#match-schedule > img {
    max-width: 100%; max-height: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: initial;
}

#top-extra-bar.visible {
    transform: none;
}

#top-extra-bar > div > span {
    font-size: 11pt;
}

#top-extra-bar-close {
    cursor: pointer;
}

@media (max-width: 768px) {

    #top-extra-bar {
        flex-direction: column;
    }

    #top-extra-bar-close {
        margin-top: 4px;
    }

}