#other {
    margin: 0 15%;
}

.other-title {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.youtube-container {
    margin: 4px 0 0 0;
    max-width: 560px;
    width: 100%;
}

.youtube-container > div {
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
}

.youtube-container > div > iframe {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#other-opts-grid {
    display: grid;
    grid-gap: 16px;
    margin-top: 12px;
}

@media (min-width: 900px) {
    #other-opts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.other-opt-item {
    height: 100%;
    padding: 0;
}

.other-opt-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 172px;
    margin-bottom: 12px;
    width: 100%;
}

.other-opt-item > h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.other-opt-item > h3:after {
    border-bottom: 1px solid #000000;
    display: block;
    content: '';
    height: 0;
    margin-top: 12px;
    width: 100%;
}

.other-opt-item > a {
    width: 100%;
    display: block;
    margin-bottom: 18px;
}
