#mentor-container {
    display: grid;
    grid-gap: 10px;
}

.mentor-card {
    background-color: #DEDEDE;
    border-radius: 5px;
    box-shadow: 0 2px 8px -3px #000000;
    height: 100%;
    padding: 10px;
}

.mentor-img {
    border-radius: 5px;
    width: 100%;
}

.mentor-name {
    font-size: 32px;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
    margin: 0;
}

.mentor-tag {
    color: #7A7A7A;
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
}

.mentor-bio {
    font-size: 16px;
    padding: 0;
    margin: 6px 0 0 0;
}

@media (min-width: 580px) {
    #mentor-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) {
    #mentor-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    #mentor-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
