#mentor-list > .mentor-elem {
    padding: 6px;
}

.mentor-content {
    padding: 18px;
    background-color: #DEDEDE;
    box-shadow: 0 2px 8px -4px #000000;
}

.mentor-img {
    width: 100%;
}

.mentor-name {
    font-size: 24pt;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
}

.mentor-bio {
    padding: 0;
    font-size: 12pt;
}