body {
	text-align: center;
	font-family: "Oswald", sans-serif;
	color: #2C586A;
}

table {
	margin: auto;
	border-spacing: 10px;
}

th {
	font-size: 30pt;
}

td {
	font-size: 16pt;
}

td.number {
	font-size: 50pt;
	font-weight: bold;
}

h1 {
	font-size: 30pt;
}

img {
	width: 90%;
	margin: auto;
}
