.sponsor-list {
    padding: 28px 0 38px;
}

.sponsor-list-header > i, .sponsor-list-header > h2 {
    display: inline-block;
    vertical-align: middle;
}

.sponsor-list-header > i {
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 52px;
}

.sponsor-list-header > h2 {
    font-size: 42px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}

.sponsor {
    padding: 12px 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-bottom: 1px solid #cacaca;
}

.sponsor:first-child {
    border-top: 1px solid #cacaca;
}

.sponsor-left {
    width: 100%; height: 0;
    padding-bottom: 12.5%;
    position: relative;
    flex: 1;
}

.sponsor-img {
    width: 100%;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
}

.sponsor-emoji {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 4.5vw;
    font-weight: bold;
}

.sponsor-right {
    padding-left: 24px;
    flex: 7;
}

.sponsor-text, .sponsor-url {
    display: block;
}

.sponsor-text {
    font-size: 24pt;
    font-weight: bold;
}

.sponsor-url, .sponsor-url > strong {
    transition: color 0.2s;
}

.sponsor-url {
    color: rgba(0, 0, 0, 0.4);
}

.sponsor-url > strong {
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
}

.sponsor-url:hover, .sponsor-url:hover > strong {
    color: #2196f3;
}