/**
 * Load stuff from CDNs
 */

@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css);

/**
 * Universal styling
 */

body {
    margin: 0; padding: 0;
    font-family: 'Roboto', sans-serif;
}

/**
 * Element styling
 */

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #2196F3;
    transition: color 0.6s;
}

a:hover {
    color: #00BCD4;
}

/**
 * Header styling
 */

header {
    padding: 15px 0;
    width: 100%;
    display: block;
    background-color: #000;
    color: #FFFFFF;
}

navbar {
    display: block;
    width: 100%; height: 100%;
}

.navbar-links > ul {
    margin: 0; padding: 0;
    display: flex;
    flex-direction: horizontal;
    list-style-type: none;
}

.navbar-links > ul > li {
    margin: 0 6px; padding: 2px;
    display: flex;
    flex: 1;
    text-align: center;
}

.navbar-links > ul > li > a {
    width: 100%;
    height: 100%;
}

/**
 * Content styling
 */

main {
    display: block;
}

/**
 * Footer styling
 */

footer {
    padding: 12px 0;
    width: 100%;
    display: block;
    background-color: #D9D9D9;
    box-shadow: inset 0px 18px 8px -18px #949494;
}

/**
 * Column layout styling
 */

.row {
    margin: 0; padding: 0;
    display: block;
    font-size: 0;
}

.row > * {
    font-size: initial;
}

.elem-1, .elem-2, .elem-3, .elem-4, .elem-5, .elem-6,
.elem-7, .elem-8, .elem-9, .elem-10, .elem-11, .elem-12 {
    margin: 0; padding: 0;
    display: inline-block;
}

.elem-1 { width: 8.33333%; }
.elem-2 { width: 16.66667%; }
.elem-3 { width: 25%; }
.elem-4 { width: 33.33333%; }
.elem-5 { width: 41.66667%; }
.elem-6 { width: 50%; }
.elem-7 { width: 58.33333%; }
.elem-8 { width: 66.66667%; }
.elem-9 { width: 75%; }
.elem-10 { width: 83.33333%; }
.elem-11 { width: 91.66667%; }
.elem-12 { width: 100%; }

/**
 * Typography classes
 */

 .text-left { text-align: left; }
 .text-right { text-align: right; }
 .text-center { text-align: center; }
 .text-just { text-align: justify; text-justify: inter-word; }

 .text-light { color: rgba(255, 255, 255, 1); }
 small.text-light { color: rgba(255, 255, 255, 0.7); }
 .disabled.text-light { color: rgba(255, 255, 255, 0.5); }
 .text-dark { color: rgba(0, 0, 0, 0.87); }
 small.text-dark { color: rgba(0, 0, 0, 0.54); }
 .disabled.text-dark { color: rgba(0, 0, 0, 0.38); }

/**
 * Convenience classes
 */

.colour-red { background-color: #F44336; }
.colour-pink { background-color: #E91E63; }
.colour-purple { background-color: #9C27B0; }
.colour-deep-purple { background-color: #673AB7; }
.colour-indigo { background-color: #3F51B5; }
.colour-blue { background-color: #2196F3; }
.colour-light-blue { background-color: #03A9F4; }
.colour-cyan { background-color: #00BCD4; }
.colour-teal { background-color: #009688; }
.colour-green { background-color: #4CAF50; }
.colour-light-green { background-color: #8BC34A; }
.colour-lime { background-color: #CDDC39; }
.colour-yellow { background-color: #FFEB3B; }
.colour-amber { background-color: #FFC107; }
.colour-orange { background-color: #FF9800; }
.colour-deep-orange { background-color: #FF5722; }
.colour-brown { background-color: #795548; }
.colour-grey { background-color: #9E9E9E; }
.colour-blue-grey { background-color: #607D8B; }
.colour-black { background-color: #000000; }
.colour-white { background-color: #FFFFFF; }

.mar-in { margin: 0 2%; }
.mar-out { margin: 0 4%; }
.mar-page { margin: 0 5%; }