.navbar-logo {
    height: 52px;
}

navbar div.navbar-logo img {
    max-height: 46px;
    margin: 3px 0;
}

.navbar-links > ul > li > a {
    padding: 16.5px;
}

#navbar-expand-container {
    height: 52px;
    position: absolute;
}

#page-desc {
    margin: 0; padding: 0;
    margin-bottom: 36px;
    font-size: 18px;
}